/* Selector Universal */

* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta o Tipo */
body {

    background-color: rgb(212, 154, 89);
    color: whitesmoke;

}

/* Selector de ID */
#Contenedor {
    width: 900px;
    height: 1000px;
    background-color: rgb(236, 228, 228);

}

#encabezado {
    width: 70%;
    background-color: rgb(212, 82, 53);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu {

    height: 4%;
    background-color: rgb(212, 82, 53);
    margin: 1em;
    border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {

    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {

    color: rgb(245, 255, 247);
    text-decoration: none;
    list-style: none;
}

li a{

    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;

}

.texto {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(255, 255, 255);

}

#contenido {
    height: 95%;
    width: 60%;
    background-color: rgb(197, 123, 89);
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: smaller;

}

img{
    width: 125px;
    height: 125px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;

}

.encabezado-articulo {
    text-align: center;
    /*background-color: rgb(62, 116, 216);*/
    color: rgb(0, 0, 0);
    margin: auto;
}

#fueraSeccion {
    height: 950px;
    width: 35%;
    background-color: rgb(197, 123, 89);
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    /*padding: 0 2px;*/
    list-style: square;
    color: black;
}

.lista-aside {
    padding: 5px;
}

.lista-aside li {
    display: list-item;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding: 0 0px;
    margin: 20px;
    color: black;
}

#pie {
    height: 3px;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(215, 124, 64);
}